* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://image.tomatomovies.com/region2/en/1280px/20230523/82cxEifGLr7YTNcc0DNV0ya7Osq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(100%);
}

.App-header {
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.title {
  color: red;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0px 40px;
}

.link:hover {
  color: red;
  border-bottom: 1px solid red;
}
li {
  list-style-type: none;
}

nav input {
  width: 300px;
  max-width: 100%;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
}

.container {
  width: 800px;
}

.section-info {
  position: relative;
  width: 600px;
  left: 190px;
  margin-top: 150px;
  color: white;
}

.section-title {
  font-size: 3rem;
  padding-bottom: 20px;
}

section p {
  padding-top: 20px;
  font-size: 20px;
}

section div {
  width: 800px;
  margin-top: 50px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Watch {
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid white;
}

dialog {
  margin: auto;
  left: 900px;
  width: 250px;
  padding: 0px 20px;
}
.close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 10px;
  background-color: red;
  color: white;
}
