* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://image.tomatomovies.com/region2/en/1280px/20230523/82cxEifGLr7YTNcc0DNV0ya7Osq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.title {
  color: red;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0px 40px;
}

.link:hover {
  color: red;
  border-bottom: 1px solid red;
}
li {
  list-style-type: none;
}

input {
  width: 300px;
  max-width: 100%;
  margin-left: 50px;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 15px;
}
